{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}

{% block body %}
    <h1>Nouvelle réponse</h1>

    {{ include('answers/_form.html.twig') }}

    <a href="{{ path('app_answers_index') }}">Retour</a>
{% endblock %}
