{% extends 'base.html.twig' %}

{% block title %}Répondre au ticket{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard" style="padding:90px">
			<h1>Répondre au ticket</h1>

			{{ include('answers/_form.html.twig') }}
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
