<footer>
    <div class="bloc">
        <img src="{{ asset('images/logo-Arinfo.png') }}" alt="logo">
    </div>
    <div class="bloc">
        <small>2023 | Application de gestion de tickets</small>
    </div>
</footer>