<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex">
		<div class="blocLeft mt-3 ml-3">
			{% if app.user %}
				<p style="color: #A1A3A6;">Bienvenue
					{{ app.user.firstName }} 
					{{ app.user.lastName }} !
				</p>
			{% endif %}
		</div>
		<div class="blocRight">
			<div class="searchBar mr-3">
				{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
			</div>
			<a class="nav-link" href="https://discord.com/channels/1125364671491362858/1153242082673172480" target="_blank">
				<i class="fa-brands fa-discord" style="color: #A1A3A6;"></i>
			</a>
			<a class="nav-link" href="{{ path('app_logout') }}">
				<i class="fa-solid fa-right-from-bracket" style="color: #A1A3A6;"></i>
			</a>
		</div>
	</nav>
</header>