<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-end">
		<a class="nav-link" href="https://discord.com/channels/1125364671491362858/1153242082673172480" target="_blank">
			<i class="fa-brands fa-discord"></i></a>

		<a class="nav-link" href="{{ path('app_logout') }}">
			<i class="fa-solid fa-right-from-bracket"></i></a>
	</nav>
</header>
