<aside class="col-md-2 p-0">
	<nav class="navbar flex-md-column flex-row align-items-start navbar-dark bg-dark" id="sidebar">
		<ul class="flex-md-column flex-row navbar-nav w-100 ml-3 justify-content-around">
			<li class="nav-item mb-3">
				<a class="nav-link" href="{{ path('app_tickets_new') }}">
					<i class="fa-solid fa-plus"></i>
					<span>Nouveau ticket</span>
				</a>
			</li>
			<li class="nav-item mb-3">
				<a class="nav-link" href="{{ path('home') }}">
					<i class="fa-solid fa-house"></i>
					<span>Tickets en cours</span>
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item mb-3">
					<a class="nav-link" href="{{ path('app_user_index') }}">
						<i class="fa-solid fa-user"></i>
						<span>Utilisateurs</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</aside>