/*************** GLOBAL ***************/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #2E5597;
}

p,
a,
label,
small {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #F7F7F7;
}

.button {
  color: #F7F7F7;
  background-color: #2E5597;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  text-decoration: none;
  box-shadow: #2E5597 1px 0 5px;
}

.btn {
  color: #F7F7F7;
  background-color: #2E5597;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.btn:hover {
  text-decoration: none;
  box-shadow: #2E5597 1px 0 5px;
}

.custom-form {
  background-color: #F7F7F7;
  opacity: 0.7;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  margin-bottom: 40px;
  display: block;
  width: 300px;
  padding: 10px;
}

input#tickets_status_0, input#tickets_status_1 {
  margin: 0 5px 0 20px;
}

#form_query {
  height: 43px;
  margin-top: 11px;
}

/*************** PARTIALS ***************/
header i,
header p {
  color: #A1A3A6;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #343A40;
  color: #F7F7F7;
  padding-right: 30px;
  width: 100%;
}
footer img {
  height: 80px;
}

#sidebar {
  height: 100%;
}

/*************** INDEX ***************/
#dashboard {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dashboard h1 {
  margin: 20px;
  font-weight: bold;
}
#dashboard .ranking {
  display: flex;
  margin: 40px 0;
}
#dashboard .ranking .openedTickets {
  height: 100px;
  width: 180px;
  background-color: #6777B0;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: #6777B0 1px 0 5px;
}
#dashboard .ranking .closedTickets {
  height: 100px;
  width: 180px;
  background-color: #2E5597;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: #2E5597 1px 0 5px;
}
#dashboard .ranking .bestTech {
  height: 100px;
  width: 180px;
  background-color: #6777B0;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  border-radius: 5px;
  box-shadow: #6777B0 1px 0 5px;
}
#dashboard #openedTickets .all-tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dashboard #openedTickets .all-tickets .each-ticket {
  width: 300px;
  height: 500px;
  background-color: white;
  box-shadow: #6777B0 0px 0px 8px 2px;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #2E5597;
}
#dashboard #openedTickets .all-tickets img {
  width: 250px;
  height: 180px;
  margin-bottom: 20px;
}
#dashboard #openedTickets .all-tickets .statusBtn {
  color: #F7F7F7;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
#dashboard #openedTickets .all-tickets .statusBtn.open {
  background-color: red;
}
#dashboard #openedTickets .all-tickets .statusBtn.closed {
  background-color: green;
}
#dashboard #openedTickets .all-tickets i {
  margin: 10px;
  color: #2E5597;
}/*# sourceMappingURL=style.css.map */