@import 'mixins';
@import 'variables';
@import 'responsive';

/*************** GLOBAL ***************/

h1 {
    @include title;
    color: $blue
}

p,
a,
label,
small {
    @include paragraph;
}

a:hover {
    color: $lightgrey;
}

.button {
    color: $lightgrey;
    background-color: $blue;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    text-decoration: none;
    box-shadow: $blue 1px 0 5px;
}

.btn {
    color: $lightgrey;
    background-color: $blue;
    padding: 10px 20px;
    border-radius: 50%;
    border: none;
    margin: 10px;
}

.btn:hover {
    text-decoration: none;
    box-shadow: $blue 1px 0 5px;
}

/*************** PARTIALS ***************/
header {
    .navbar {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;

        .blocRight {
            display: flex;
            align-items: center;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343A40;
    color: $lightgrey;
    padding-right: 30px;
    width: 100%;

    img {
        height: 80px;
    }
}

#sidebar {
    height: 100%;
}

#form_query {
    height: 43px;
    margin-top: 11px;
}

/*************** INDEX ***************/
#dashboard {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 40px;
        font-weight: bold;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
        table-layout: auto;
        background-color: white;
    }

    thead {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    th {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th:nth-child(5) {
        text-align: center;
    }

    td:nth-child(5) {
        padding: 0;
    }

    .actionsTable {
        display: flex;
        justify-content: center;
    }

    .ranking {
        display: flex;
        margin: 20px 0;

        .openedTickets {
            height: 100px;
            width: 180px;
            background-color: $lightblue;
            color: $lightgrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Monserrat', sans-serif;
            margin-right: 20px;
            border-radius: 5px;
            box-shadow: $lightblue 1px 0 5px;
        }

        .openedTickets:hover {
            box-shadow: $lightblue 1px 0 20px;
        }

        .closedTickets {
            height: 100px;
            width: 180px;
            background-color: $blue;
            color: $lightgrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Monserrat', sans-serif;
            margin-right: 20px;
            border-radius: 5px;
            box-shadow: $blue 1px 0 5px;
        }

        .closedTickets:hover {
            box-shadow: $blue 1px 0 20px;
        }

        .bestTech {
            height: 100px;
            width: 180px;
            margin-left: 50px;
            background-color: $lightblue;
            color: $lightgrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Monserrat', sans-serif;
            border-radius: 5px;
            box-shadow: $lightblue 1px 0 5px;
        }
    }

    #openedTickets {
        .all-tickets {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .each-ticket {
                width: 300px;
                background-color: white;
                box-shadow: $lightblue 0px 0px 8px 2px;
                margin: 30px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                color: $blue
            }

            img {
                width: 250px;
                height: 180px;
                margin-bottom: 20px;
            }

            .statusBtn {
                color: $lightgrey;
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                margin-bottom: 20px;
                font-family: 'Montserrat', sans-serif;
            }

            .statusBtn.open {
                background-color: red;
            }

            .statusBtn.closed {
                background-color: green;
            }

            i {
                margin: 10px;
                color: $blue;
            }
        }
    }
}

input#tickets_status_0,
input#tickets_status_1 {
    margin: 0 5px 0 20px;
}

input#user_roles_0,
input#user_roles_1 {
    margin: 0 5px 0 20px;
}

.custom-form {
    background-color: white;
    opacity: 0.7;
    border: 1px solid $lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    width: 500px;
    padding: 10px;
}

/*************** SHOW ***************/
.actions {
    display: flex;
    margin: 20px;
}

img.printscreen {
    width: 100%;
}

/*************** LOGIN & REGISTER ***************/
.mainLogin {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 40px;
    }
}

/*************** SEARCH ***************/
.search-result {
    background-color: white;
    border: 1px solid $lightgrey;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
}