@media all and (max-width: 920px) {
  #sidebar span {
    display: none;
  }
}
@media all and (max-width: 590px) {
  .ranking {
    flex-direction: column;
  }
  .ranking .closedTickets {
    margin: 20px 0 !important;
  }
  footer {
    flex-direction: column;
    padding-bottom: 20px !important;
  }
  .custom-form {
    width: 300px !important;
  }
}
@media all and (max-width: 1000px) {
  table thead {
    display: none;
  }
  table tr {
    display: block;
    margin-bottom: 40px;
  }
  table td {
    display: block;
    text-align: center;
    height: auto !important;
    padding: 12px !important;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
/*************** GLOBAL ***************/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #2E5597;
}

p,
a,
label,
small {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #F7F7F7;
}

.button {
  color: #F7F7F7;
  background-color: #2E5597;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  text-decoration: none;
  box-shadow: #2E5597 1px 0 5px;
}

.btn {
  color: #F7F7F7;
  background-color: #2E5597;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.btn:hover {
  text-decoration: none;
  box-shadow: #2E5597 1px 0 5px;
}

/*************** PARTIALS ***************/
header .navbar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
header .navbar .blocRight {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #343A40;
  color: #F7F7F7;
  padding-right: 30px;
  width: 100%;
}
footer img {
  height: 80px;
}

#sidebar {
  height: 100%;
}

#form_query {
  height: 43px;
  margin-top: 11px;
}

/*************** INDEX ***************/
#dashboard {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dashboard h1 {
  margin: 40px;
  font-weight: bold;
}
#dashboard table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto;
  background-color: white;
}
#dashboard thead {
  background-color: #f2f2f2;
  font-weight: bold;
}
#dashboard th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
#dashboard td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
#dashboard th:nth-child(5) {
  text-align: center;
}
#dashboard td:nth-child(5) {
  padding: 0;
}
#dashboard .actionsTable {
  display: flex;
  justify-content: center;
}
#dashboard .ranking {
  display: flex;
  margin: 20px 0;
}
#dashboard .ranking .openedTickets {
  height: 100px;
  width: 180px;
  background-color: #6777B0;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: #6777B0 1px 0 5px;
}
#dashboard .ranking .closedTickets {
  height: 100px;
  width: 180px;
  background-color: #2E5597;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: #2E5597 1px 0 5px;
}
#dashboard .ranking .bestTech {
  height: 100px;
  width: 180px;
  background-color: #6777B0;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  border-radius: 5px;
  box-shadow: #6777B0 1px 0 5px;
}
#dashboard #openedTickets .all-tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dashboard #openedTickets .all-tickets .each-ticket {
  width: 300px;
  background-color: white;
  box-shadow: #6777B0 0px 0px 8px 2px;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #2E5597;
}
#dashboard #openedTickets .all-tickets img {
  width: 250px;
  height: 180px;
  margin-bottom: 20px;
}
#dashboard #openedTickets .all-tickets .statusBtn {
  color: #F7F7F7;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
#dashboard #openedTickets .all-tickets .statusBtn.open {
  background-color: red;
}
#dashboard #openedTickets .all-tickets .statusBtn.closed {
  background-color: green;
}
#dashboard #openedTickets .all-tickets i {
  margin: 10px;
  color: #2E5597;
}

input#tickets_status_0,
input#tickets_status_1 {
  margin: 0 5px 0 20px;
}

input#user_roles_0,
input#user_roles_1 {
  margin: 0 5px 0 20px;
}

.custom-form {
  background-color: white;
  opacity: 0.7;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  width: 500px;
  padding: 10px;
}

/*************** SHOW ***************/
.actions {
  display: flex;
  margin: 20px;
}

img.printscreen {
  width: 100%;
}

/*************** LOGIN & REGISTER ***************/
.mainLogin {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLogin h1 {
  margin: 40px;
}

/*************** SEARCH ***************/
.search-result {
  background-color: white;
  border: 1px solid #F7F7F7;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */