{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de tickets{% endblock %}

{% block body %}
{% include "_partials/_header.html.twig" %}
    <section class="row mr-3 ml-0" id="mainIndex">
        {% include "_partials/_sidebar.html.twig" %}

        <div class="col-md-10" id="dashboard">
            <h1>Tableau de bord</h1>
            
        </div>
    </section>
{% include "_partials/_footer.html.twig" %}
{% endblock %}