{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard" style="height: 85vh;">
			{% if app.request.method == 'POST' %}
				<div>
					<h1>Vos résultats de recherche</h1>
					{% if tickets is defined and tickets | length > 0 %}
						{% for ticket in tickets %}
							<div class="search-result">
								<p>Titre du ticket :
									{{ ticket.title }}<a href="{{ path('app_tickets_show', {'id': ticket.id}) }}" class="btn">
										<i class="fa-solid fa-magnifying-glass-plus"></i>
									</a>
								</p>
							</div>
						{% endfor %}
					{% else %}
						<p>Aucun résultat pour votre recherche</p>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
