{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
	{% if app.request.method == 'POST' %}
		<div>
			<h1 class="mt-3">Vos résultats de recherche :</h1>
			{% if tickets is defined and tickets | length > 0 %}
				{% for ticket in tickets %}
					<div class="mt-3 p-3 bg-light border rounded">
							<p class="text-dark">
								<i class="bi bi-arrow-down-right-square-fill text-primary"></i>
								{{ ticket.title }}</p>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<p>Aucun résultat pour votre recherche</p>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
