{% extends 'base.html.twig' %}

{% block title %}Modifier le ticket{% endblock %}

{% block body %}
    <h1>Modifier le ticket</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('home') }}">Retour</a>

    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
