{% extends 'base.html.twig' %}

{% block title %}Nouveau ticket{% endblock %}

{% block body %}
    <h1>Créer un ticket</h1>

    {{ include('tickets/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour</a>
{% endblock %}
